*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contenedor{
    height: 100vh;
}
.num{
    height: 2em;
    width: 3em;
    border: solid 1px black;
}

.col-3{
    margin-top: 5em;
    height: 5em;
    border: solid 1px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    visibility: hidden;
}